<div class="border-2 mb-3">
  <div id="post-id-<%= post.id %>">
    <div class="book">
      <div class="book-inbox">
        <%= link_to(post_path(post)) do %>
        <h4 class="card-title flex-col w-full h-28 mb-3 bg-cover">
          <% if post.image&.image_url.present? %>
          <%= image_tag post.image.image_url.url, class: "w-full h-full object-cover" %>
          <% else %>
          <%= image_tag "post_placeholder.png", class: "w-full h-full object-cover"%>
          <% end %>
        </h4>
        <% end %>
        <div class="vertical-rl overflow-hidden  w-full text-xs">
          <ul class="max-h-[100px] overflow-hidden break-words p-1">
            <li><%= l post.created_at, format: :short %></li>
            <li><%= post.user.name %></li>
            <li><%= post.body %></li>
          </ul>
        </div>
      </div>
      <% if current_user.own?(post) %>
      <div class='ms-auto'>
        <%= link_to edit_post_path(post), id: "button-edit-#{post.id}" do %>
        <i class="btn">編集</i>
        <% end %>
        <%= link_to post_path(post), id: "button-delete-#{post.id}", data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } do %>
        <i class="btn">削除</i>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>